designs/server/services/Auth/forgotPassword.json
[
    {
        "id": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "type": "tab",
        "createdDate": "2023-08-07T15:01:55.691Z",
        "label": "forgotPassword",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgotPassword",
        "relativeParentPath": "Auth"
    },
    {
        "id": "sd_KJ83CAQOzIOXKFAr",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "server",
        "nodeType": "start",
        "name": "updatepassword",
        "path": "password",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 185,
        "y": 140,
        "wires": [
            [
                "sd_DiJH9wdf0gGYcXnL"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPassword",
        "functionName": "sd_KJ83CAQOzIOXKFAr",
        "generated": false
    },
    {
        "id": "sd_DiJH9wdf0gGYcXnL",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.query = 'UPDATE \"User\" SET user_password = $2 WHERE username = $1 OR user_email_id = $1';\nbh.params = [\n    bh.input.body.username,\n    bh.input.body.userpassword,\n    bh,input.body.user_email_id\n]\nconsole.log(bh.params);",
        "functionName": "sd_DiJH9wdf0gGYcXnL",
        "category": "Function",
        "x": 365,
        "y": 140,
        "wires": [
            [
                "sd_pi239fIUUZZriQP5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_kv5KxGElMRJBaiJu",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.result);\nconsole.log(bh.result[1]);\nif(bh.result[1]===0){\n    bh.input.status = false;\n    bh.input.message = 'Password is already Added'\n}else{\n    bh.input.status = true;\n}\n",
        "functionName": "sd_kv5KxGElMRJBaiJu",
        "category": "Function",
        "x": 665,
        "y": 140,
        "wires": [
            [
                "sd_4pEC6zvAxpYHHmQf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_JCi10dvuHAkH3PsE",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.response",
            "send": "bh.response"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_JCi10dvuHAkH3PsE",
        "category": "HTTP",
        "x": 1125,
        "y": 60,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_zwl16TgY4w4PSgpl",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "validatelogin",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "name",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "password",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            },
            {
                "key": "message",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "validatelogin",
        "category": "General",
        "x": 185,
        "y": 360,
        "wires": [
            [
                "sd_rBTMhowHKS0WAaWV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPassword",
        "generated": false
    },
    {
        "id": "sd_rBTMhowHKS0WAaWV",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(!bh.input.name ){\n    bh.input.status = false;\n    bh.input.message = 'Name is required';\n}else if(!bh.input.password){\n    bh.input.status = false;\n    bh.input.message = 'Password is required';\n}else{\n    bh.input.status = true\n}",
        "functionName": "sd_rBTMhowHKS0WAaWV",
        "category": "Function",
        "x": 345,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_4pEC6zvAxpYHHmQf",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.status",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4pEC6zvAxpYHHmQf",
        "category": "Function",
        "x": 765,
        "y": 140,
        "wires": [
            [
                "sd_aiZEvpHneBNT5qKe"
            ],
            [
                "sd_iS4WWX3kklqKWfRx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_OdIOwhghXiEAxjyb",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 400,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 400,
            "obj": "bh.response",
            "send": "bh.response"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_OdIOwhghXiEAxjyb",
        "category": "HTTP",
        "x": 1125,
        "y": 220,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_aiZEvpHneBNT5qKe",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.response = {\n    message:'Password reset succesfully'\n}",
        "functionName": "sd_aiZEvpHneBNT5qKe",
        "category": "Function",
        "x": 925,
        "y": 60,
        "wires": [
            [
                "sd_JCi10dvuHAkH3PsE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_iS4WWX3kklqKWfRx",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.response = {\n    message:'Password reset failed'\n}",
        "functionName": "sd_iS4WWX3kklqKWfRx",
        "category": "Function",
        "x": 925,
        "y": 220,
        "wires": [
            [
                "sd_OdIOwhghXiEAxjyb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    },
    {
        "id": "sd_pi239fIUUZZriQP5",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_wqybxcURP8TorILO",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_C9OeZH1l3ceoDI6p",
        "resultMap": {
            "type": "bh",
            "value": "result"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh",
            "value": "query"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "dbType": "postgres",
        "functionName": "sd_pi239fIUUZZriQP5",
        "category": "Storage",
        "x": 545,
        "y": 140,
        "wires": [
            [
                "sd_kv5KxGElMRJBaiJu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPassword",
        "generated": true
    }
]
